body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #efefef;
  overflow-x: hidden;
}

a {
  color: #000;
}

.container {
  text-align: center;
  height: 100vh;
}

#heading {
  font-size: 30px;
  font-weight: 300;
  padding: 10px;
  .sub-heading {
    font-size: 14px;
    margin: 0;
    text-transform: none;
  }
}

#svg-canvas {
  border: 1px solid #aaa;
  background: #fff;
  margin: 20px;
  .label {
    font-weight: 700;
    text-transform: uppercase;
  }
}

#process {
  background: #fff;
  margin: 20px 0;
  border-top: 10px solid #333;
  padding: 10px 20px;
  .grouped-skills {
    width: 500px;
    margin: auto;
    text-align: left;
  }
  .img-container {
      width: 100%;
      max-width: 580px;
      max-height: 270px; 
      overflow: hidden;
      margin: auto;
    .infographic {
      width: 100%;
    }
  }
}

.api {
  background: #ddd;
  padding: 2px 7px;
  border-radius: 2px;
  text-decoration: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 11px;
}

@media screen and (max-width: 550px){
  #heading {
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
    .sub-heading {
      font-weight: 300;
      .more {
        display: block;
      }
    }
  }
  #process {
    .grouped-skills {
      width: auto;
    }
  }
}